{
    "extends": ["babel", "plugin:node/recommended"],
    "env": {
      "node": true
    },
    "plugins": [
      "node"
    ],
    "settings": {
      "import/resolve": {
        "moduleDirectory": ["node_modules"]
      }
    },
    "rules": {
    }
  }
  